body{
	background-color: #214772;
	font-family: SANS-SERIF;
    font-size: 12px;
}
#main-header{
	background: black;
	color: white;
	height: 200px;
	border-radius: 5px;
}
#main-header a {
		color: white;
	}
.usati{
	display: flex;
	flex-direction: row;
	min-height: 200px;
	justify-content: space-around;
	height: 178px;
    width: 333px;
    position: absolute;
    left: 1000px;
    top: 7px;
}
.menu{
align-self: flex-end;
background-color: black;
margin: 3px;
    height: 30px;
    width: 100px;
text-align: center;
border-radius: 5px;
}
.menu:hover{
background-color: #484343;
}
.b{
	color: white;
    text-decoration: none;
    font-size: 15px;
}
.cp{
	position: absolute;
	    top: 8px;
    left: 18px;
    height: 200px;
    width: 270px;
}
.ti{
    position: absolute;
    top: 15px;
    left: 576px;
padding-top: 10px;
 font-size: 40px;
 font-family: sans-serif;
 color: white;
 text-align: center;
}
.calen{
 padding-top: 10px;
 font-size: 30px;
 font-family: sans-serif;
 color: white;
  text-align: center;
   position: absolute;
    top: 95px;
    left: 455px;
}
.inicio{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.logo{
	height: 130px;
	width: 1300px;
	border-radius: 10px;
}
.container{
	position: absolute;
    top: 213px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1335px;
    height: 750px;
}

.item{
    padding: 25px;
    margin: 6px;
	min-width: 130px;
	min-height: 130px;
	text-align: flex-start;	
	border-radius: 100%;
}
.item img {
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
}
.item:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}
.item {/*Ancho y altura son modificables al requerimiento de cada uno*/
overflow:hidden;
}
#grupoa{
    align-self: center;
    color: aqua;
    font-size: 15px;
}
#Usa{
	background-color: white;
	height: 15px;
	color: #929698;

}
#Col{
	background-color: white;
	height: 15px;
	color: #929698;
}
#Cos{
background-color: white;
	height: 15px;
	color: #929698;
}
#Par{
	background-color: white;
	height: 15px;
	color: #929698;
}
.banusa{
	height: 20px;
	width: 30px;
	border-radius: 2px;
}
.bancol{
	height: 20px;
	width: 30px;
	border-radius: 2px;
}
.bancos{
    height: 20px;
	width: 30px;
	border-radius: 2px;
}
.banpar{
	height: 20px;
	width: 30px;
	border-radius: 2px;
}
.a{
	color: #516b51;
	font-size: 15px;
	text-decoration: none;
}
.equipo{
	height: 130px;
	width: 130px;
}
#ja{
	position: absolute;
    top: 400px;
    left: 753px;
    height: 157px;
    width: 157px;
}
#ec{
	position: absolute;
    top: 408px;
    left: 424px;
    height: 155px;
    width: 155px;
}
